<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tickets_coursework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <tickets_coursework.Properties.Settings>
            <setting name="connectionDB" serializeAs="String">
                <value>SERVER=exordium.cloud;DATABASE=Tickets_DB;UID=Cation;PASSWORD=olja090398</value>
            </setting>
        </tickets_coursework.Properties.Settings>
    </applicationSettings>
</configuration>